
        <div class="col-6">
        <div class="form-floating mb-3">
            <input type="number" min="1" max="20" class="form-control" id="floatingInput" value="{{this.quantity}}" placeholder="Количество" name="quantity">
            <label for="floatingInput">Количество</label>
        </div>
    </div>
        <div class="col-6">
        <div class="form-floating mb-3">
            <input type="url" class="form-control" id="floatingInput" value="{{this.link}}" placeholder="Ссылка" name="link">
            <label for="floatingInput">Ссылка</label>
        </div>
            </div>
<div class="col-6">
    <div class="form-floating mb-3">
        <select class="form-control" id="floatingSelect" name="status">
            <option value="На рассмотрении" {{#if (eq this.status "На рассмотрении")}}selected{{/if}}>На рассмотрении</option>
            <option value="Закупаем" {{#if (eq this.status "Закупаем")}}selected{{/if}}>Закупаем</option>
            <option value="Доставляем" {{#if (eq this.status "Доставляем")}}selected{{/if}}>Доставляем</option>
            <option value="Ожидает получения" {{#if (eq this.status "Ожидает получения")}}selected{{/if}}>Ожидает получения</option>
            <option value="Получен" {{#if (eq this.status "Получен")}}selected{{/if}}>Получен</option>
        </select>
        <label for="floatingSelect">Статус</label>
    </div>
</div>


    <div class="col-12 d-grid">
        <button class="btn btn-primary" type="submit">Сохранить</button>
    </div>