<div class="row justify-content-center" style="padding-top: 80px;">
    <div class="col-12 text-center"><h2>Добавить нового пользователя</h2></div>
</div>
<nav aria-label="breadcrumb" class="text-center">
  <ol class="breadcrumb justify-content-center">
    <li class="breadcrumb-item"><a href="/dashboard">База пользователей</a></li>
    <li class="breadcrumb-item active" aria-current="page">Добавление пользователя</li>
  </ol>
</nav>


<form action="/dashboard/adduser" class="row g-3 needs-validation" method="POST">
    {{> user-form}}
</form>

<div id="snackbar">{{alert}}</div>
<script src="/javascript/snackbar.js"></script>
<script>
  if ("{{alert}}") {
    var message = "{{alert}}";
    if (message !== undefined && message !== null) {
      snackBAR(message);
    }
  }
</script>