<div class="row" style="padding-top: 80px;">
    <div class="col-12 d-flex justify-content-center"><h2>Редактировать детали заказа</h2></div>
</div>
<div class="col-12 d-flex justify-content-center">
    <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/myorders">Мои заказы</a></li>
      <li class="breadcrumb-item active" aria-current="page">Изменение деталей заказа</li>
    </ol>
  </nav>
</div>
{{#if alert}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
{{alert}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}

{{#each rows}}
<form action="/myorders/editorder/{{this.id}}" class="row g-3 needs-validation" method="POST" novalidate>
    {{> order-form}}
</form>
{{/each}}