<div class="row justify-content-center" style="padding-top: 80px;">
    <div class="col-12 text-center"><h2>Редактировать данные пользователя</h2></div>
</div>
<nav aria-label="breadcrumb" class="text-center">
  <ol class="breadcrumb justify-content-center">
    <li class="breadcrumb-item"><a href="/dashboard">База пользователей</a></li>
    <li class="breadcrumb-item active" aria-current="page">Изменение данных пользователя</li>
  </ol>
</nav>


{{#each rows}}
<form action="/dashboard/edituser/{{this.id}}" class="row g-3 needs-validation" method="POST">
    {{> user-form}}
</form>
{{/each}}

<div id="snackbar">{{alert}}</div>

<script src="/javascript/snackbar.js"></script>
<script>
  if ("{{alert}}") {
    var message = "{{alert}}";
    if (message !== undefined && message !== null) {
      snackBAR(message);
    }
  }
</script>