<div style="padding-top: 80px;">
<header class="text-center py-5">
        <h2 class="text-dark">Вход</h2>
  <div class="container">
            <div class="row">
                <div class="col-lg-6 col-8 mx-auto">
                    <form action="/login" method="post" class="needs-validation">
                        <div class="form-group">
                            <label for="text">Ваш логин</label>
                            <input type="text" class="form-control" id="email" name="email" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Ваш пароль</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                        <div style="padding-top: 20px;"><button type="submit" class="btn btn-dark">Войти</button></div>
                    </form>
                    <div class="text-center mt-3">
                        <a href="/register">У меня еще нет аккаунта</a>
                    </div>
                </div>
            </div>
        </div>
        </div>


<div id="snackbar">{{alert}}</div>

<script src="/javascript/snackbar.js"></script>
<script>
  if ("{{alert}}") {
    var message = "{{alert}}";
    if (message !== undefined && message !== null) {
      snackBAR(message);
    }
  }
</script>