<div style="padding-top: 80px;">
<header class="text-center py-5">
        <h2 class="text-dark">Регистрация</h2>
 <div class="container">
            <div class="row">
                <div class="col-lg-6 col-8 mx-auto">
                    <form action="/register" method="post">
                        <div class="form-group">
                            <label for="name">Ваше имя</label>
                            <input type="text" class="form-control" id="name" name="name" required>
                        </div>
                        <div class="form-group">
                            <label for="surname">Ваша фамилия</label>
                            <input type="text" class="form-control" id="surname" name="surname" required>
                        </div>
                        <div class="form-group">
                            <label for="patname">Ваше отчество</label>
                            <input type="text" class="form-control" id="patname" name="patname" required>
                        </div>
                            <div class="form-group">
                            <label for="location">Ваш город</label>
                            <input type="text" class="form-control" id="location" name="location" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Ваш email</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>
                            <div class="form-group">
                            <label for="password">Ваш пароль</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                        <div style="padding-top: 20px;"><button type="submit" class="btn btn-dark">Зарегистрироваться</button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>